<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
							http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
							http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">

    <!--dataSource:C3P0连接池-->
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/dbshop0620?characterEncoding=UTF-8"></property>
        <property name="user" value="root"></property>
        <property name="password" value="root"></property>
    </bean>

    <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:sqlMapconfig.xml"></property>
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--<bean name="user" class="com.huadian.entity.User"></bean>-->

    <!--<bean name="userDao" class="com.huadian.dao.impl.UserDaoImpl">-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
    <!--</bean>-->

    <!--mapper：Mapper代理 单个对象-->
    <!--<bean name="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
    <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
    <!--<property name="mapperInterface" value="com.huadian.mapper.UserMapper"></property>-->
    <!--</bean>-->

    <!--
        Mapper扫描：从Mapper包中扫描出Mapper接口，自动创建代理对象并在spring容器中注册
        遵循规范：Mapper.java接口和Mapper.xml映射文件，文件名一致，并且在同一个目录下
        扫描出来的Mapper的bean的名字为Mapper的类名，首字母小写
    -->

    <!--批量-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!--指定扫描的包，如果扫描多个包，每个包之前用半角的逗号分隔-->
        <property name="basePackage" value="com.huadian.mapper"></property>
    </bean>

    <context:component-scan base-package="com.huadian"></context:component-scan>

</beans>