<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlyznbxhf.mapper.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.zlyznbxhf.po.ShoppingCart">
    <id column="shoppingcartid" jdbcType="INTEGER" property="shoppingcartid" />
    <result column="productid" jdbcType="INTEGER" property="productid" />
    <result column="productnum" jdbcType="INTEGER" property="productnum" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    shoppingcartid, productid, productnum, userid, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shoppingcart
    where shoppingcartid = #{shoppingcartid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shoppingcart
    where shoppingcartid = #{shoppingcartid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlyznbxhf.po.ShoppingCart">
    insert into shoppingcart (shoppingcartid, productid, productnum, 
      userid, status)
    values (#{shoppingcartid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{productnum,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zlyznbxhf.po.ShoppingCart">
    insert into shoppingcart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shoppingcartid != null">
        shoppingcartid,
      </if>
      <if test="productid != null">
        productid,
      </if>
      <if test="productnum != null">
        productnum,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shoppingcartid != null">
        #{shoppingcartid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="productnum != null">
        #{productnum,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlyznbxhf.po.ShoppingCart">
    update shoppingcart
    <set>
      <if test="productid != null">
        productid = #{productid,jdbcType=INTEGER},
      </if>
      <if test="productnum != null">
        productnum = #{productnum,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where shoppingcartid = #{shoppingcartid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlyznbxhf.po.ShoppingCart">
    update shoppingcart
    set productid = #{productid,jdbcType=INTEGER},
      productnum = #{productnum,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where shoppingcartid = #{shoppingcartid,jdbcType=INTEGER}
  </update>

  <select id="selectCartByUser" parameterType="int" resultMap="ProductResultMap">
    select shoppingcartid,productid,productnum
    from shoppingcart
     where userid=#{userid}
  </select>

  <select id="selectById" parameterType="int" resultMap="ProductResultMap">
    select productid,productnum
    from shoppingcart
  where shoppingcartid = #{shoppingcartid}
  </select>

  <resultMap id="ProductResultMap" type="com.zlyznbxhf.vo.ShopCartProduct">
    <id column="shoppingcartid" jdbcType="INTEGER" property="shoppingcartid" />
    <result column="productid" jdbcType="INTEGER" property="productid" />
    <result column="productnum" jdbcType="INTEGER" property="productnum" />
    <association property="product" column="productid"
                 select="com.zlyznbxhf.mapper.ProductMapper.selectByPrimaryKey">
    </association>
  </resultMap>
</mapper>